.drop_ans {
    position: relative;
}

.ansoptions {
    margin-top: 20px;
    background-color: #efefef;
    padding: 5px;
    opacity: 1;
    transition: visibility 1s linear 300ms, opacity 300ms;
    .form-check {
        display: inline !important;
        padding: 5px;
    }
}