<form [formGroup]="rForm" (ngSubmit)="onSubmit(rForm.value)">
    <div class="form-group">
        <label for="url">Url</label>
        <input type="url" class="form-control" formControlName="url" placeholder="Enter Url here..." value="">
    </div>
    <div class="form-group">
        <label for="article">Article</label>
        <textarea placeholder="Paste some content..." class="form-control" id="article" rows="3"></textarea>
    </div>
    <div class="questype">
        <p>Select Questions Type : </p>
        <!-- <div class="form-group">
            <input id="verb" name="someSwitchOption001" type="checkbox" value="verb" />
            <label for="verb" class="badge-primary"></label>Verb
        </div>
        <div class="form-group">
            <input id="preposition" name="someSwitchOption002" type="checkbox" value="preposition" />
            <label for="preposition" class="badge-primary"></label>Preposition
        </div>
        <div class="form-group">
            <input id="determinant" name="someSwitchOption003" type="checkbox" value="determinant" />
            <label for="determinant" class="badge-primary"></label>Determinant
        </div> -->
        <div class="form-group" *ngFor="let type of questypes">
            <input id="{{type}}" formControlName="{{type}}" type="checkbox" value="{{type}}" />
            <label for="{{type}}" class="badge-primary"></label>{{type}}
        </div>
    </div>

    <div class="form-group noofques">
        <label for="exampleSelect1">No of Questions : </label>
        <select class="form-control">
          <option>1</option>
          <option>2</option>
          <option>3</option>
          <option>4</option>
          <option>5</option>
        </select>
    </div>
    <button type="submit" class="btn btn-primary" [disabled]="!rForm.valid">Submit</button>
</form>