<form>
    <div class="form-group">
        <label for="exampleInputEmail1">Url</label>
        <input type="url" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter Url here...">
    </div>
    <div class="form-group">
        <label for="exampleFormControlTextarea1">Article</label>
        <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
    </div>
    <div class="form-check">
        <label class="form-check-label">
        <input type="checkbox" class="form-check-input">
        Question type 1
      </label>
    </div>
    <div class="form-check">
        <label class="form-check-label">
        <input type="checkbox" class="form-check-input">
        Question type 2
      </label>
    </div>
    <div class="form-check">
        <label class="form-check-label">
        <input type="checkbox" class="form-check-input">
        Question type 3        
      </label>
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
</form>
<!-- 
<button type="button" class="btn btn-primary" (click)="openModal(template)">Create template modal</button>

<ng-template #template>
    <div class="modal-header">
        <h4 class="modal-title pull-left">Modal</h4>
        <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
 <span aria-hidden="true">&times;</span>
</button>
    </div>
    <div class="modal-body">
        This is a modal.
    </div>
</ng-template> -->