<header>
    <!-- Fixed navbar -->
    <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
        <div class="container d-flex justify-content-between">
            <a href="#" class="navbar-brand"><img src="./assets/images/GElogo.png" alt=""></a>

        </div>
    </nav>
</header>

<!-- Begin page content -->
<main role="main" class="container">
    <router-outlet></router-outlet>
</main>

<!-- Sticky Footer -->
<footer class="footer">
    <div class="container">
        <span class="text-muted">© 2017 GlobalEnglish Corporation. All Rights Reserved. Copyright | Privacy Policy | Terms of Service</span>
    </div>
</footer>