<div class="nb-error">
    <div class="error-code">404</div>
    <h3 class="font-bold">We couldn't find the page..</h3>

    <div class="error-desc">
        Sorry, but the page you are looking for was either not found or does not exist. <br/> Try refreshing the page or click the button below to go back to the Homepage.
        <!-- <div class="input-group">
            <input type="text" placeholder="Try with a search" class="form-control">
            <span class="input-group-btn">
           <button type="button" class="btn btn-default">
              <em class="fa fa-search"></em>
           </button>
        </span>
        </div> -->
        <ul class="list-inline text-center text-sm">
            <li class="list-inline-item"><a [routerLink]="['/home']" class="text-muted">Go to Home</a>
            </li>
        </ul>

    </div>
</div>